/************ This first section is for the NAVIGATION MENU.*******************/
/* Add a background color to the top navigation */
.topnav {
  background-color: #02492f;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

/* Add an underline color to links on hover */
.topnav a:hover {
  text-decoration: underline #a09898;
}



/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/*****RESPONSIVE RULES for NAVIGATION*****/

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}



/****************** Section for DEFAULT RULES and SMALL SCREENS (mobile devices) *****************/

*, *::before, *::after { /* This makes every element include its borders and padding in its total defined size. */
  box-sizing: border-box;
}

.webpageTitle{
  text-align: center;
}

body {
    background-color: #A8E58A; /* Coolors.co was used to check that my color palette has good performacne characteristics. This color is colorblind-friendly and contrast friendly for the intended text colors. */
    color: black; /*Determines default color*/
    font-family: Aptos; /*Determines the font for body text. */
}

h1, h2, h3, h4 {
    font-family: AR Julian; /*Determines the font for all headings */
}

h3 { /*Styles all subtitles. */
  text-align: center;
}

h4 { /*Styles all content headings */
  margin-bottom: -10px;
}

img { /* This section scales the images up and down to the screen size. */
  max-width: 100%;
  height: auto;
}

.contentTextBox{ /** Gives styling to all text boxes (except home page).**/
  display:block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top:5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  background-color: white;
}

input[type=text], input[type=email], input[type=tel], input[type=number], select { /* Styles all fields on forms. */
  width: 100%; 
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea, select { /* Styles the text input box on forms. */
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button and back button (on the map page) */
button {
  width: 100%;
  background-color:  #A8E58A;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

  /* Add a background color to the fomr submit button on mouse-over */
  button:hover {
    background-color: yellow;
  }

.map{ /* Styles the map page.*/
  display: block;
  max-width: 85%;
  margin: auto;
}

.returnFromMap { /* Styles the return button on the map page.*/
  font-family: Aptos;
}

footer{
  background-color: #057a0f;
  color: white;
  text-align: center;
  padding: 5px;
}

/*** HOME PAGE CONTENT ***/

.textBox{ /** Gives styling to home page text boxes **/
  display:block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.column1{ 
  display: block;
  padding-top:5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  background-color: white;
}

.column2{ 
  display: block;
  padding-top:5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  background-color: white;
}


/*** THINGS TO DO PAGE CONTENT***/

.thingsImg { /* Styles all images on things to do page.*/
  max-width: 250px;
  margin-top: 15px;
 
}

.thingsGrid { /* Makes a 2 column layout for images and their accompanying text. */
  display: grid;
  grid-template-columns: auto auto; /* Each "auto" creates a column with auto sizing. Repeating it 2 times makes 2 columns. */
  grid-template-rows: auto; /* Rows were not defined explicitly. The extra grid items make implicit rows appear until out of items. */
  grid-gap: 40px; /* Makes space between images. */
}

.things1Left {
  grid-area: 1 / 1 ;
}

.things1Right {
  grid-area: 1 / 2 ;
}

.things2Left {
  grid-area: 2 / 1;
}

.things2Right {
  grid-area: 2 / 2;
}

.things3Left {
  grid-area: 3 / 1;
}

.things3Right {
  grid-area: 3 / 2;
}

.things4Left {
  grid-area: 4 / 1;
}

.things4Right {
  grid-area: 4 / 2;
}

.things1Right, .things2Right,.things3Right,.things4Right{ /* Styling for right column text.*/
  padding-top: 30px; 
}


/*** EVENTS PAGE CONTENT***/

.eventsGrid {
  display: grid;
  grid-template-columns: auto auto; /* Each "auto" creates a column with auto sizing. Repeating it 2 times makes 2 columns. */
  grid-template-rows: auto; /* Rows were not defined explicitly. The extra grid items make implicit rows appear until out of items. */
  grid-gap: 20px; /* Makes space between images. */
 
}

.eventsHeading {
  grid-area: 1 / 1 / span 1 / span 2;
}

.eventsImg1{
  grid-area: 2 / 1;
}

.eventsCaption1 {
  grid-area: 3 / 1;
}

.eventsImg2{
  grid-area: 2 / 2;
}

.eventsCaption2 {
  grid-area: 3 / 2;
}

.eventsImg3{
  grid-area: 4 /1 ;
}

.eventsCaption3 {
  grid-area: 5 / 1;
}

.eventsImg4{
  grid-area: 4 / 2;
}

.eventsCaption4 {
  grid-area: 5 / 2;
}

.eventsImg5{
  grid-area: 7 / 1;
}

.eventsCaption5 {
  grid-area: 8 / 1;
}

.eventsImg6{
  grid-area: 7 / 2;
}

.eventsCaption6 {
  grid-area: 8 / 2;
}

.eventsImg1, .eventsImg2, .eventsImg3, .eventsImg4, .eventsImg5, .eventsImg6 { 
  height: 100%; /*Makes images uniform size. */
  padding-top: 50px;
}





/****************** MEDIA QUERY Section for MEDIUM SCREENS*******************/
@media screen and (min-width: 601px)and (max-width: 1007px) { /* Defines responsive styling for small laptops and most tablets. */

  .textBox{
    display: flex;
    gap: 2.5%;
  }
  
  .column1{
    flex: 1; /* Makes each container take up equal space (HOMEPAGE)*/
  }

  .column2{
    flex: 1; /* Makes each container take up equal space (HOMEPAGE)*/
  }

  .thingsImg { /* Styles all images (THINGS TO DO PAGE).*/
    max-width: 350px;
    margin-top: 15px;
  }

  .contentTextBox {
    padding-bottom: 20px;
  }

  .map{ /* Styles the map page.*/
    display: block;
    max-width: 80%;
    margin: auto;
  }

  /*** EVENTS page medium screens***/

  .eventsGrid {
    display: grid;
    grid-template-columns: auto auto auto; /* Each "auto" creates a column with auto sizing. Repeating it 2 times makes 2 columns. */
    grid-template-rows: auto; /* Rows were not defined explicitly. The extra grid items make implicit rows appear until out of items. */
    grid-gap: 20px; /* Makes space between images. */
  } 

  .eventsHeading {
    grid-area: 1 / 1 / span 1 / span 3;
  }

  .eventsImg1{
    grid-area: 2 / 1;
  }

  .eventsCaption1 {
    grid-area: 3 / 1;
  }

  .eventsImg2{
    grid-area: 2 / 2; 
  }

  .eventsCaption2 {
    grid-area: 3 / 2;
  }

  .eventsImg3{
    grid-area: 2 /3 ;
  }

  .eventsCaption3 {
    grid-area: 3 / 3;
  }

  .eventsImg4{
    grid-area: 4 / 1;
  }

  .eventsCaption4 {
    grid-area: 5 / 1;
  }

  .eventsImg5{
    grid-area: 4 / 2;
  }

  .eventsCaption5 {
    grid-area: 5 / 2;
  }

  .eventsImg6{
    grid-area: 4 / 3;
  }

  .eventsCaption6 {
    grid-area: 5 / 3;
  }

  .eventsImg1, .eventsImg2, .eventsImg3, .eventsImg4, .eventsImg5, .eventsImg6 { 
    height: 100%; /*Makes images uniform size. */
    padding-top: 50px;
  }

    button { /* Smaller button for medium screen. */
      display: block;
      width: 50%;
      margin:auto;
      background-color: #a09898;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  
}




/******************* MEDIA QUERY Section for LARGE (desktop SCREENS *********************/
@media screen and (min-width: 1008px)  { /* Defines responsive styling for desktops and large laptops. */

  .topnav{ 
    margin:auto;
    width:70%;  /*Controls width of nav.*/
  }
  
  .mainBanner{
    display:block;
    margin:auto;
    width: 70%;
  }

  .textBox{
    display: flex;
    gap: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .column1{
    flex: 1; /* Makes each container take up equal space (HOMEPAGE)*/
  }

  .column2{
    flex: 1; /* Makes each container take up equal space (HOMEPAGE)*/
  }

  .contentTextBox{ /* Rules for textboxes on all pages expect home.*/
    width: 70%;
    margin:auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .thingsImg { /* Styles all images (THINGS TO DO PAGE).*/
    max-width: 350px;
    margin-top: 15px;
  }

  footer{
    display:block;
    margin:auto;
    width: 70%;
  }

  .map{ /* Styles the map page.*/
    display: block;
    max-width: 70%;
    margin: auto;
  }


   /*** EVENTS page large screens***/

  .eventsGrid {
    display: grid;
    grid-template-columns: auto auto auto; /* Each "auto" creates a column with auto sizing. Repeating it 2 times makes 2 columns. */
    grid-template-rows: auto; /* Rows were not defined explicitly. The extra grid items make implicit rows appear until out of items. */
    grid-gap: 20px; /* Makes space between images. */
 
  }

  .eventsHeading {
    grid-area: 1 / 1 / span 1 / span 3;
  }

  .eventsImg1{
    grid-area: 2 / 1;
  }

  .eventsCaption1 {
    grid-area: 3 / 1;
  }

  .eventsImg2{
    grid-area: 2 / 2;
  }

  .eventsCaption2 {
    grid-area: 3 / 2;
  }

  .eventsImg3{
    grid-area: 2 /3 ;
  }

  .eventsCaption3 {
    grid-area: 3 / 3;
  }

  .eventsImg4{
    grid-area: 4 / 1;
  }

  .eventsCaption4 {
    grid-area: 5 / 1;
  }

  .eventsImg5{
    grid-area: 4 / 2;
  }

  .eventsCaption5 {
    grid-area: 5 / 2;
  }

  .eventsImg6{
    grid-area: 4 / 3;
  }

  .eventsCaption6 {
    grid-area: 5 / 3;
  }

  .eventsImg1, .eventsImg2, .eventsImg3, .eventsImg4, .eventsImg5, .eventsImg6 { 
    height: 100%; /*Makes images uniform size. */
    padding-top: 50px;
  }

  /* Different size and background color for the form and back (from map) button on large screens. */
  button {
    display: block;
    width: 50%;
    margin:auto;
    background-color: #a09898;
    margin-top: 20px;
    margin-bottom: 20px;
  }



}